{% extends "default/base/base.html.twig" %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Bienvenue</h1>
    </div>
{% endblock %}
