{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Bienvenue</h1>
        <a class="btn btn-primary" href="{{ path('APP_REGISTRATION') }}">Inscription</a>
        <a class="btn btn-primary" href="{{ path('APP_LOGIN') }}">Connexion</a>
    </div>
{% endblock %}
